input.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched,
.select.ng-invalid.ng-touched {
  border: 2px solid red;
}
.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.userDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.btn-danger {
  float: right;
}
#form {
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 1.5rem; */
}
#container {
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style-type: none;
}
button {
  border-radius: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-bold {
  font-weight: bold;
}
::placeholder {
  color: indianred;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-weight: bold;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#quoteOutput {
  margin-left: auto;
  margin-right: auto;
}
