input.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched,
.select.ng-invalid.ng-touched  {
  border: 2px solid red;
}
/* .select.ng-invalid.ng-touched {
  border: 2px solid red;
} */
#form {
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 1.5rem; */
}
#container {
  display: flex;
}
li {
  list-style-type: none;
}
::placeholder {
  color: indianred;
  letter-spacing: normal;
}