input.ng-invalid.ng-touched {
  border: 2px solid red;
}

textarea.ng-invalid.ng-touched,
.select.ng-invalid.ng-touched {
  border: 2px solid red;
}
/* .select.ng-invalid.ng-touched {
  border: 2px solid red;
} */
button:disabled {
  cursor: progress;
}
#form {
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 1.5rem; */
}
#container {
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style-type: none;
}
::placeholder {
  color: indianred;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-weight: bold;
}
