<div class="row" id="quoteRow" >
    <div class="col-lg-6 mt-5" id="quoteImage">
        <!-- <p>home works!</p> -->
        <img src="../../assets/quote.jpg" alt="inspiration image" class="shadow">
    </div>
    <div class="col-lg-6 mt-5" id="quoteMessage">
        <h2 class="text-primary">Inspiration Quotes</h2>
        <p style="max-width: 400px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, recusandae! Tempora illum libero facere
            et eos dolorum delectus aperiam debitis iste autem, laudantium consequuntur sed, beatae odio blanditiis
            minima omnis.
        </p>
        <button class="btn btn-success">View Quotes</button>
    </div>
</div>