<div class="row" id="quoteRow" >
    <div class="col-lg-6 mt-5" id="quoteImage">
        <img src="./../../assets/quote.jpg" alt="inspiration image" class="shadow">
    </div>
    <div class="col-lg-6 mt-5" id="quoteMessage">
        <h2 class="text-primary">Inspiration Quotes</h2>
        <p style="max-width: 400px;">
            “Be courageous. Challenge orthodoxy. Stand up for what you believe in. When you are in your rocking chair talking to your grandchildren many years from now, be sure you have a good story to tell.”<br> By <strong>Amal Clooney</strong> 
        </p>
        <button class="btn btn-success" (click)="onLoadQuote()">Post Quotes</button>
    </div>
</div>